.form {
    max-width: 450px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;

    &__block {
        width: 100%;
        flex-grow: 1;
        display: block;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    &__input {
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid black;
        
        &:active, &:focus {
            outline: none;
            border-color: #4c14f5;
        }

    }

    
}

.btn {
    background-color: #4a3939;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid transparent;
    outline: none;

    &:hover {
        cursor: pointer;
        color: #4a3939;
        border-color: #4a3939;
        background-color: #fff;
    }
}

.error {
    color: rgb(238, 39, 12);
}