.navbar {
    &__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__link {
        &:hover {
            opacity: 0.6;
        }

        
    }

    &__container {
        color: green;
    }

    .active {
        color: red;
    }

    &__linkActive {
        color: red;
    }
}